body { 
    width: 100%;
    height:100%;
    color: whitesmoke;
    background-image: url('./images/istockphoto-1138395421-612x612.jpg');
    background-size: cover;
    font-style: italic;
}

.title {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(158, 225, 245);
    color: black;
    font-weight: bold;
}

td {
    border: 1px solid white;
    padding: 10px;
}

.loaded-data {
    text-align: center;
}

.create-data {
    float: left;
    margin-top: 10ch;
    margin-bottom: 20px;
    margin-left: 20ch;
    border-style: double;
    padding: 10px;
}

.modify-data {
    display: none;
    float: right;
    margin-top: 10ch;
    margin-bottom: 20px;
    margin-right: 20ch;
    border-style: double;
    padding: 10px;
}

.invalidParams {
    color: red;
}

button {
    background-color: rgb(158, 225, 245);
    color: black;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(67, 115, 218);
    color: white;
}